:root {
  --black-color: #000;
  --white-color: #fff;
  --lightGrey-color: #d3d3d3;
  --yellowJs-color: #f7df1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%; 
}

body {
  height: 100vh;
  background-color: var(--black-color);
}

h1 {
  margin: 30px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--yellowJs-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.container picture{
  width: 75vw;
  max-width: 900px;
  min-width: 320px;
}

img { 
  width: 100%;
  border-radius: 20px;
  border: 3px solid var(--yellowJs-color);
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.4);
}

button {
  padding: 10px 20px;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--yellowJs-color);
  color: var(--black-color);
}

button:hover {
  transform: scale(1.5);
}

footer  {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white-color);
}



@media screen and (width <= 410px) {
  img { 
    width: 250px;
  }
}